body{
    background-color: #f5bdba; 
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

h2
{
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

h3
{
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

h4
{
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}